{% extends 'base.html.twig' %}

{% block title %}
    Gestion du client
{% endblock %}

{% block content %}

    {% if client %}
        <form action="{{env.base_path ~ '/clients/' ~ client.id ~ '/edit'}}" method="post">
    {% else %}
        <form action="{{env.base_path ~ '/clients'}}" method="post">
    {% endif %}


        <div class="form-group">
            <label for="formFirstName">Prénom</label>
            <input name="firstname" id="formFirstName" type="text" class="form-control" value="{{ client ? client.firstname : '' }}">
        </div>
        <div class="form-group">
            <label for="formLastname">Nom</label>
            <input name="lastname" id="formLastname" type="text" class="form-control" value="{{ client ? client.lastname : '' }}">
        </div>
        <div class="form-group">
            <label for="formEntryDate">Date d'arrivée</label>
            <input name="entry_date" id="formEntryDate" type="date" class="form-control" value="{{ client ? client.entry_date : '' }}">
        </div>
        <div class="form-group">
            <label for="formDepartureDate">Date de départ</label>
            <input name="departure_date" id="formDepartureDate" type="date" class="form-control" value="{{ client ? client.departure_date : '' }}">
        </div>

        {% if client %}
            <button type="submit" class="btn btn-warning">Éditer le client</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Créer le client</button>
        {% endif %}

    </form>
{% endblock %}